<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nx.docusmart.mapper.GenerateMapper">

    <resultMap id="BaseResultMap" type="com.nx.docusmart.model.entity.Generate">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="templateId" column="template_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="uploadFile" column="upload_file" jdbcType="VARCHAR"/>
            <result property="generateFile" column="generate_file" jdbcType="VARCHAR"/>
            <result property="process" column="process" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,template_id,user_id,
        info,upload_file,generate_file,
        process,create_time,update_time,
        is_deleted
    </sql>
</mapper>
